{{#each sleeps as |sleep|}}
  {{log sleep}}
  <section data-id="{{sleep.id}}" >
    <h6>Hours:</h6>
    <h3>
      {{sleep.hours}}
    </h3>
    <h6>Date:</h6>
    <p>
        {{sleep.date}}
    </p>
    <h6>Exercise:</h6>
    <p>
        {{sleep.exercise}}
    </p>
    <h6>Food:</h6>
    <p>
        {{sleep.food}}
    </p>


    <btn class= "btn btn-danger delete" data-id="{{sleep.id}}"> delete </btn>
    <form class="update-sleep" data-id="{{sleep.id}}">
        <input type="date" name="sleep[date]" placeholder="date">
        <input type="number" name="sleep[hours]" placeholder="hours slept">
        <input type="text" name="sleep[food]" placeholder="what did you eat?">
        <input type="text" name="sleep[exercise]" placeholder="did you exercise?">
        <button class="btn btn-primary"> update your sleep </button>
    </form>
  </section>

{{/each}}
